# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environments
venv/
ENV/
env/

# Poetry
poetry.lock

# Pytest cache
.cache/

# VS Code
.vscode/

# Environment Variables
.env
